/*.opa{
	width: 100px;
	height: 100px;
	background-color: #f00;
	opacity: 1;
	line-height: 5;
}*/

/*Единицы измерения - проценты
Проценты берутся ,как правило, от родителя*/

/*
html,
body {
  height: 100%;
}

.main {
  height: 100%;
  background: cyan;
}

.wrapper,
.inner {
  width: 50%;
  height: 40%;
  background: red;
}

.inner {
  background: yellow;
}


.inner {
  position: relative;
  left: -25%;
  margin-left: 50%;
}


.main {
  background: #000 url(http://lorempixel.com/500/501/) 50% 50%

  
  no-repeat;
}
*/

/*Цвет*/

/*div {
  width: 200px;
  height: 200px;
  display: inline-block;
}

.item1 { background: red; }
.item2 { background: rgb(255,0,0); }
.item3 { background: rgb(100%,0%,0%); }
.item4 { background: rgba(255,255,0,0.2); }
.item5 { background: hsl(10%,50%,20%); }
.item6 { background: hsla(2,200,0,0.2); }
.item7 { background: #ff00ff; }
.item8 { background: #f0f; }*/

/*Единицы измерения*/

/* 
	1em = 100% 
	1ex = 1/2em или высоте x
  1rem - размер шрифта body
*/

/*body {
  font-size: 25pt;
}

.block {
  font-size: 30px;
}

.em {
  font-size: 1.5em;
}

.ex {
  font-size: 1ex;
}

.rem {
  font-size: 1rem;;
}
*/

/*.calc{
	background: #f00;
	width: calc((50% + 500px) - 500px);
	height: 20px;
}*/


/*Шрифты*/

/* http://www.google.com/fonts */

/*.font{
  font-family: Indie Flower;
  font-style: normal;
  font-weight: 400;
}*/

/*.wrapper {
  padding-left: 4em;
}

.wrapper p {
  text-indent: 3em;
}

.wrapper .start-quote {
  text-indent: -0.5em;
}

.wrapper ul {
  list-style: none;
  padding: 0;
}

.wrapper li {
  text-indent: -1.4em;
}

.wrapper li:before {
  content: "—";
  margin-right: 0.4em
}
*/

/*
	0 	0 	0	color
	left	top	blur	#/rgba...
*/

/*body {
  padding: 30px;
  font-size: 31px;

	background: #666;
	color: #333;
	text-shadow: 1px 1px 2px rgba(255,255,255,0.7);
 
}

.title
{
  color: rgba(0,0,0,0);
  text-shadow: 0 0 5px #555;
} */

.caption{
	-webkit-column-span:all;
	text-align: center;
}

div {
  -webkit-column-count: 6;		
  -webkit-column-width: 200px;
  -webkit-column-gap: 50px;
  -webkit-column-rule: 1px solid #ccc;
  -webkit-column-rule-color:red;
  -webkit-column-rule-style:dotted;
  -webkit-column-rule-width:thick;
}