	
 /*Псевдоелемены (цсс свойства, которые позволяют нам работать
 с определенной частью контента нашего тега) */


.p:first-letter{  			/*Не работает у строчных (inline) елементов*/
	color: red;
	font-size: 30px;	
}

.p:first-line{           /*Не работает у строчных (inline) елементов*/
	color: blue;
}

.p:before{
	content: 'test';
	color: orange;
}

.p:after{
	content: 'FUCKING TEST';
	color:cyan;
}

.p::selection{
	color: red;
	background: black;
}


/*Псевдоклассы (цсс свойства, которые позволяют работать
 с состояниями елемента)*/

.a:hover{
color: red;
text-decoration: none;
 }

 .a:active{
 	border-bottom: 1px dashed red;
 }

 .a:visited{
 	color: orange;
 }

li:first-child{
	color:green;
}

li:last-child{
	color: red;
}


li:nth-child(3){
	color: blue;
}


.test1 li:first-child{
color:yellow;
}


.test1 li:last-child{
	color: cyan;
}


.test1 li:nth-child(3){
	color: orange;
}

/*Обозначение, которые касаются всех елементов на странице*/

/*Все, елементы, которые будут иметь href будут зелеными
проще говоря все ссылки будут зелеными, но только не посещенные.*/
	
:link{
	color: green;
}

:visited{
color:blue;	
}

/*Все ссылки на странице будут иметь тот ховер, которые ниже.*/

:link:hover{
color: cyan;
}

/*Лейблу, который стоит сразу за враппером, (сестринский селектор) будет применен
зеленый цвет.*/

.wrapper + label{
	color: green;
}

/*Если наш input c классом wrapper будет прокликнут, тогда первому за ним лейблу
будет применен синий цвет.*/

.wrapper:checked + label{
	color:blue;
}

/*В html мы инпуту прописали свойство disabled и здесь указали, если наш 
инпут (с классом врапер) будет disabled, то лейбл будет серым.*/


.wrapper:disabled + label{
	color:orange;
}