/**{
	border: 5px dashed red;
}
*/
#box{
	color: red;
}

.fuck{
	color:yellow;

}
.suck{
	text-transform: uppercase;
}

.dick{
	text-decoration: line-through overline;
}
					/* Селектор атрибута (задается атрибут и какое у него
					должно быть значение,  и к этому значению применяется заданный css(ищется по всей странице))
					 */

[type="text"]{
	color: red;
}

					/*Еще пример*/

[href="http://google.com.ua"]{

	color:orange;
	text-decoration: none;
}					

						/*Селектор потомка*/

div p{
	color:orange;
}						

						/*Селектор сестринский(ищет все div, смотрит есть ли у них сосед p
							и если есть, то применить данные свойства)*/

div+p{
	background-color: green;
	color:orange;
}						